/* Calculator */
#calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
  width: 93%;
  height: 10vh;
  background-color: #848693;
  border: solid 0.5rem rebeccapurple;
  border-radius: 3%;
  color: #fff;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 25%;
  height: 5vh;
  border: 1px solid #cdcdcd;
  text-align: start;
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
  background-color: #d3d3d3;
}

.button:active {
  background-color: #c6c6c6;
}

.zero-button {
  width: 50%;
}

.right-button {
  background-color: #f5903d;
}
